{% extends "base.html" %}

{% block buttons %}
<a href="{% url 'mainMenu' %}" class="btn btn-success me-2">
    Main Menú
</a>
{% endblock buttons %}

{% block content %}
{% if not productAdded %}
<!-- Formulario de Producto -->
<div class="container mt-4">
    <form method="post">
        <!-- csrf_token -->
         {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="productName" class="form-label">Producto</label>
                <select name="productName" id="productName" class="form-select" aria-label="Seleccione un producto">
                    <option selected value="Aguacate">Aguacate</option>
                    <option value="Banano">Banano</option>
                    <option value="Brócoli">Brócoli</option>
                    <option value="Café">Café</option>
                    <option value="Cebolla_Cabezona">Cebolla Cabezona</option>
                    <option value="Cebolla_Larga">Cebolla Larga</option>
                    <option value="Coliflor">Coliflor</option>
                    <option value="Frijol">Frijol</option>
                    <option value="Guayaba">Guayaba</option>
                    <option value="Lechuga">Lechuga</option>
                    <option value="Limón">Limón</option>
                    <option value="Lulo">Lulo</option>
                    <option value="Maíz">Maíz</option>
                    <option value="Mango">Mango</option>
                    <option value="Maracuyá">Maracuyá</option>
                    <option value="Naranja">Naranja</option>
                    <option value="Papa">Papa</option>
                    <option value="Papaya">Papaya</option>
                    <option value="Plátano">Platano</option>
                    <option value="Sandía">Sandía</option>
                    <option value="Tomate">Tomate</option>
                    <option value="Yuca">Yuca</option>
                    <option value="Zanahoria">Zanahoria</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="specificName" class="form-label">Nombre Específico del Producto</label>
                <input type="text" name="specificName" id="specificName" class="form-control" />
                <div class="form-text text-muted">Si es Limón Tahití, escriba Tahití; si es Naranja Valencia, escriba Valencia.</div>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="unit" class="form-label">Unidad de Medida</label>
                <select name="unit" id="unit" class="form-select">
                    <option selected disabled>Seleccione una unidad</option>
                    <option value="Kg">Kilogramos</option>
                    <option value="gr">Gramos</option>
                    <option value="Units">Unidades</option>
                </select>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="maxQuantity" class="form-label">Cantidad Máxima</label>
                <input type="text" name="maxQuantity" id="maxQuantity" class="form-control" />
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="minQuantity" class="form-label">Cantidad Mínima</label>
                <input type="text" name="minQuantity" id="minQuantity" class="form-control" />
            </div>
            
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </div>
        </div>
    </form>
</div>
{% else %}
<!-- Mensaje de Redirección -->
<div class="container mt-5">
    <h1 class="text-center">Producto</h1>
    <div class="alert alert-info text-center">
        Producto ingresado, redirigiendo al feed...
    </div>
    <meta http-equiv="refresh" content="5; url={% url 'mainMenu' %}>
</div>
{% endif %}
{% endblock content %}