{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <title>AgroMerc</title>
    </head>
    <body>
        <!--Header-->
        <div class="container-fluid fixed-top bg-light shadow-sm">
            <div class="row align-items-center py-3">
                <div class="col-md-2">
                    <img src="{% static 'AgroMerc.jpg' %}" alt="AgroMerc"
                        class="img-fluid">
                </div>
                <div class="col-md-8 text-center">
                    <h1 class="display-1">AgroMerc</h1>
                </div>
                <div class="col-md-2 text-end">
                    {% block buttons %}
                    <!-- this is a space to add bottoms -->
                    {% endblock buttons %}
                </div>
            </div>
        </div>
        <!--Header-->

        <!--Content-->
        <div class="container">
            <main class="d-flex justify-content-center align-items-center">
                <div class="row w-100">
                    <div class="col-md-2">
                        <h1>Publicidad</h1>
                    </div>
                    <div class="col-md-8">
                        {% block content %}
                        <!-- Aquí va el contenido dinámico de Django -->
                        {% endblock content %}
                    </div>
                    <div class="col-md-2">
                        <h1>Publicidad</h1>
                    </div>
                </div>
            </main>
        </div>
        <!--Content-->

        <!--Footer-->
        <div class="container-fluid fixed-bottom bg-light shadow-sm">
            <footer class="row align-items-center py-3">
                <div class="col-md-2">
                    <img src="{% static 'AgroMerc.jpg' %}" alt="AgroMerc"
                        class="img-fluid">
                </div>
                <div class="col-md-8 text-center">
                    <h1 class="display-3">AgroMerc</h1>
                </div>
                <div class="col-md-2 text-center">
                    <a href="{% url 'agroMerc' %}" class="btn btn-success">
                        About Us
                    </a>
                </div>
            </footer>
        </div>
        <!--Footer-->

        <!-- Bootstrap JS Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% block scripts %}
        <!-- Aquí van los scripts individuales de cada template -->
        {% endblock scripts %}
    </body>
</html>
