{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous" />
        <!-- Styles -->
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <title>Compra</title>
    </head>
    <body>
        <!-- Header -->
        <div class="header row align-content-center">
            <div class="col">
                <img src="{% static 'AgroMerc.jpg' %}" alt="AgroMerc"
                    class="img-fluid" />
            </div>
            <div class="col">
                <h1>AgroMerc</h1>
            </div>
            <div class="col-2">
                <!-- Conditional Seller -->
                {% if seller %}
                <button type="button" class="btn btn-success">
                    <a href="producto">Agregar producto</a>
                </button>
                {% endif %}
                <!-- End conditional-->
                <button type="button" class="btn btn-success button-type">
                    <a href="{% url "signIn" %}">Cerrar
                        Sesión</a>
                </button>
            </div>
        </div>
        <!-- Header -->
        <!-- Content-->
        <div class="content">
            <div class="col">
                <div class="row">
                    <h1 class="h1 h-100">Ticket</h1>
                </div>
                <div class="md-6">
                    <p class="p-4 text-bg-info">
                        A continuación le proporcionaremos un link para ir
                        directamente al WhatsApp del vendedor o si desea
                        solamente el numero de contacto para realizar la compra
                        del producto que seleccionó
                    </p>
                </div>
                <div class="list-group-item">
                    <section class="text-bg-dark">
                        <ul>
                            Nombre del Producto:
                            {{product.name}}
                            {{product.specificName}}
                        </ul>
                        <ul>
                            Cantidad:
                            {{quantityOrdered}}
                            {{product.unit}}
                        </ul>
                        <ul>
                            Vendedor
                            {{product.seller}}
                        </ul>
                        <ul>
                            Comprador
                            {{user.name}}
                        </ul>
                    </section>
                </div>
                <div class="link-success">
                    <button type="button" class="btn btn-success">
                        <a class="contact-line"
                            href="https://wa.me/57{{seller.PhoneNumber}}?text=Hola,%20deseo%20comprar%20{{ cantidad }}%20{{ producto.unit }}%20de%20{{ producto.Name }}%20{{ producto.specificName }}">
                            WhatsApp
                        </a>
                    </button>
                    <button type="button" class="btn btn-success">
                        <a class="contact-line"
                            href="tel:+57{{ seller.phoneNumber }}">
                            Llamar:{{ seller.phoneNumber }}
                        </a>
                    </button>
                </div>
                <div class="text-bg-primary">
                    <h2 class="h2">
                        ¿Ha concretado la compra?
                    </h2>
                    <form action="{% url "madeAPurchase" %}" method="post"
                        class="form-check">
                        {% csrf_token %}
                        <label class="form-label">
                            <ul>
                                <li>
                                    <input type="checkbox"
                                        name="purchaseMade_{{quantityOrdered}}_{{product.id2}}_{{seller.cedula}}"
                                        id="purchaseMade_{{quantityOrdered}}_{{product}}_{{seller}}" />Si
                                </li>
                                <li>
                                    <input type="checkbox" name="no"
                                        id="no" />No
                                </li>
                            </ul>
                            <br />
                        </label>
                        <button type="submit" class="btn btn-primary btn-dark">
                            Aceptar
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <h1 class="h1">Content</h1>
            </div>
        </div>
        <!-- Content-->
        <!-- Footer -->
        <div class="row footer">
            <div class="col-2">
                <img src="{% static 'AgroMerc.jpg' %} " class="card-img-bottom"
                    alt="AgroMerc" />
            </div>
            <div class="col">
                <h1>AgroMerc</h1>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-success"><a
                        href="{% url 'agroMerc' %}"
                        class="link-success">About Us</a></button>
            </div>
        </div>
        <!-- Footer -->
    </body>
</html>