{% extends "base.html" %}

{% block buttons %}
<a href="{% url 'signIn' %}" class="btn btn-success me-2">
  Sign In
</a>
<a href="{% url 'signUp' %}" class="btn btn-success">
  Sign Up
</a>
{% endblock buttons %}

{% block content %}
{% if not registered %}
<div class="container py-5">
  <!-- Form -->
  <form method="post" class="form-control p-4 shadow rounded-3">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Nombres completos</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Ingrese sus nombres">
        {% if textName != "" and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textName }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="surnames" class="form-label">Apellidos completos</label>
        <input type="text" name="surnames" id="surnames" class="form-control" placeholder="Ingrese sus apellidos">
        {% if textSurName != ""  and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textSurName }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="cedula" class="form-label">Número de Cédula</label>
        <input type="text" name="cedula" id="cedula" class="form-control" placeholder="Ingrese su número de cédula">
        {% if existCedula or textCedula != "" and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textCedula }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Número de celular</label>
        <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Ingrese su número de celular">
        {% if textPhoneNumber != "" and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textPhoneNumber }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="example@example.com">
        {% if existEmail or textEmail != "" and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textEmail }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="userName" class="form-label">Nombre de usuario</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="Ingrese su nombre de usuario">
        {% if existUserName or textUserName != "" and trySignUp%}
        <div class="alert alert-danger mt-2">
          <p>{{ textUserName }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
        {% if textPassword != ""  and trySignUp %}
        <div class="alert alert-danger mt-2">
          <p>{{ textPassword }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="userType" class="form-label">Tipo de Usuario</label>
        <select name="userType" id="userType" class="form-select" aria-label="Tipo de usuario">
          <option value="buyer" selected>Comprador</option>
          <option value="seller">Vendedor</option>
        </select>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary w-100 mt-4">Registrar</button>
      </div>
    </div>
  </form>
  <!-- Form -->
</div>
{% else %}
<div class="container py-5 text-center">
  <h1 class="display-6 text-success">Usuario registrado con éxito</h1>
  <a href="{% url 'signIn' %}" class="btn btn-light mt-4">Iniciar sesión</a>
</div>
{% endif %}

{% endblock content %}